doctype
html( lang="en" )
    include ./template/head.jade
    body
        .container
            include ./template/menu.jade
            div.page-header
                h2 About
            div.row
                p.text-center Contact me: thucnq1994[at]gmail.com
 
        include ./template/foot.jade