head
	title Mixpanel Clone
	meta( charset='utf-8' )
	meta( http-equiv='X-UA-Compatible', content='IE=edge' )
	meta( name='viewport', content='width=device-width, initial-scale=1.0' )
	meta( name='description', content='Mixpanel clone' )
	//- Bootswatch Theme
	link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
	link(href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet")
	link(rel='stylesheet', href='/css/style.css')